body .footer {
	background-color: var(--color-blue-400) !important;
	border: none !important;
	padding-top: 60px !important;
	.container-footer {
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(1, minmax(0, 1fr));
		gap: 40px;
		@media (width >= 48rem /* 768px */) {
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}
		@media (width >= 64rem /* 1024px */) {
			grid-template-columns: repeat(4, minmax(0, 1fr));
		}
		.footer-logo {
			a {
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-bottom: 20px;
				@media (min-width: 768px) {
					justify-content: flex-start;
					align-items: flex-start;
				}
			}
			.social-media-title {
				margin-bottom: 1.25rem;
				font-size: 0.75rem;
				line-height: 150%;
				font-weight: 400;
				letter-spacing: 0;
				color: #fff;
				text-align: center;
				@media (min-width: 640px) {
					font-size: 0.875rem;
				}

				@media (min-width: 768px) {
					text-align: start;
				}
			}
			.social-media-links {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 8px;
				a {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 30px;
					height: 30px;
					border-radius: 50%;
					border: 1px solid #000;
					background: #fff;
					padding: 0.25rem;
					transition: opacity 0.2s ease-in-out;
					color: #212e54;
					&:hover {
						opacity: 0.8;
					}
				}
				@media (min-width: 767px) {
					justify-content: start;
				}
			}
		}
		.container-col {
			.footer-title {
				font-family: "Almarai", sans-serif;
				font-weight: 700;
				font-size: 18px;
				line-height: 125%;
				letter-spacing: 0;
				text-align: center;
				color: var(--color-white);
				margin-bottom: 18px;
				@media (min-width: 640px) {
					font-size: 21px;
				}
				@media (min-width: 768px) {
					text-align: start;
				}
			}
			.footer-list {
				display: flex;
				flex-direction: column;
				gap: 18px;
				list-style: none;
				padding: 0;
				margin: 0;
				li {
					cursor: pointer;
					font-weight: 400;
					font-size: 12px !important;
					line-height: 125%;
					letter-spacing: 0;
					text-align: center;
					color: var(--color-white);

					a {
						color: var(--color-white);
						&.tal-class {
							display: inline-block;
							width: 100%;
							text-align: center !important;
							direction: ltr;
							@media (min-width: 768px) {
								[dir="ltr"] & {
									text-align: start !important;
								}
								[dir="rtl"] & {
									direction: ltr !important;
									text-align: end !important;
								}
							}
						}
					}
					@media (min-width: 640px) {
						font-size: 14px !important;
					}
					@media (min-width: 768px) {
						text-align: start;
					}
				}
			}
		}
	}
	.footer-divider-wrapper {
		display: flex;
		justify-content: center;
		padding-top: 20px;
		.footer-divider {
			width: 66.6667%;
			height: 1px;
			background-color: var(--color-white);
		}
	}
	.footer-copyright {
		font-weight: 400;
		font-size: 12px;
		letter-spacing: 0;
		text-align: center;
		color: var(--color-white);
		padding: 40px 12px ;
	}
}
